

*{  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.back{
  background-color: rgb(78, 77, 77);
  width: 100%;
  height: 90px;
  display: flex;
  position: absolute;
  bottom: 88%;
}
nav {
  
    background-color: rgb(226, 156, 4);
    margin: 25px;
    padding: 20px;
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 84%;
    right: 40%;
    width: 900px;
    clip-path: polygon(0 0,85% 0,100% 100%,10% 100%);
    height: 75px;
    
}
.back ul{ 
  position: absolute;
  list-style: none;
  right: 10px;
  display: flex;
  float: right;

}
.back ul li a {
  
    display: flex;
    position: relative;
    float: right;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    font-size: larger;

  }

body{
  overflow: scroll;
}

.main{width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    height: 1000px;
    background-repeat: no-repeat;
  }
.bck{
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(17, 17, 17, 0.5)), url(b.jpg);
  
  filter: blur(10px);
  width: 100%;
  height: 100%;
}



.slider {
    width: 300px;
    height: 350px;
    overflow: hidden;

    position: relative;
  }
  


.slideshow1{
  position: absolute;
  top: 20%;
  right: 5%;
}

p{
  position: absolute;
  font-size: xx-large;
  top: 15px;
  left: 45px;}

#ss2-si1 ,#ss2-si2,#ss2-si3{
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 25px;
}

#imgg{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.slideshow2{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#imgg{
  box-shadow: 0px 0px 95px 20px rgb(0, 0, 0);
  height: 350px;
  width: 100%;
  border-color: aliceblue;
  
}

#ss2-si1{
  
  box-shadow: 0 0 55px 20px rgb(0, 0, 0);
  height: 300px;
  width: auto;
  top: 250px;
  left: 10%;
  transform: translate(-50%,-50%);
}
#ss2-si2{
  box-shadow: 0 0 65px 30px black;
  height: 28rem;
  width: auto;
  box-shadow: #000000 (15px 15px) ;
}
#ss2-si3{
  box-shadow: 0 0 55px 20px black;
  height: 300px;
  width: auto;
  top: 250px;
  left: 19%;
  transform: translate(-50%,-50%);
}
input{
  visibility: hidden;
}
input[type="radio"]:checked+ .bar{
  background-color: #000000;
}
.prev, .next{
  
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:rgb(214, 210, 7);
  font-weight: bold;
  font-size: 50px;
  transition: 0.8s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: absolute;
}
.prev{
  right: 90%;
  border-radius: 0 15px 15px 0;

}
.next{
  left: 90%;
  border-radius: 15px 0 0 15px ;
}

.next:hover{
  background-color: transparent;
  color:rgb(214, 196, 196);
  
  transform: translatex(10px);
}


.prev:hover {
  background-color: transparent;
  color:rgb(214, 196, 196);
  transition: 0.5s;
  transform: translatex(-10px);
}

.prev2, .next2{
  
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  user-select: none;
  position: absolute;
}


.prev2{
  left: 25%;
  border-radius: 15px 0 0 15px ;}


.next2{
  left: 72%;
  border-radius:  0 15px 15px 0  ;
}


.next2:hover{
  background-color: transparent;
  color:#fffffb;
  transform: translatex(10px);
}

.prev2:hover{
  background-color: transparent;
  color:#fffffb;
  transform: translatex(-10px);
}

@media screen and (max-width:700px){
  


.back{
  background-color: rgb(78, 77, 77);
  width: 100%;
  height: 30px;
  display: flex;
  position: absolute;
  bottom: 92%;
}
nav {
  
    background-color: rgb(226, 156, 4);
    margin: 2px;
    padding: 2px;
    bottom: 91.5%;
    right: 40%;
    width: 170px;
    clip-path: polygon(0 0,85% 0,100% 100%,10% 100%);
    height: 35px;
    
}
.back ul{ 
  right: 0px;

}
.back ul li a {
  
    padding: 0px;
    font-size: small;

  }


.bck{
  right: 0px;
  position: fixed;
  filter: blur(10px);
  width: 200%;
  height: 100%;
}


#imgg{
  box-shadow: 0px 0px 95px 20px rgb(0, 0, 0);
  height: 150px;
  width: 100%;
  border-color: aliceblue;
  
}


.slideshow1{
  position: absolute;
  top: 23%;
  right: 12%;
}

#p1{
  position: absolute;
  font-size:xx-large;
  top: 105px;
  left: 25px;}
#devolopment{
  position: absolute;
  font-size:xx-large;
  top: 150px;
  left: 115px;
  }
  #imgg{
    animation-name: fade;
    animation-duration: 1.5s;
  }
  


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.slideshow2{
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#ss2-si1 ,#ss2-si2,#ss2-si3{
  height: 20px;
  width: 20px;
  border-radius: 5px;
}
#ss2-si1{
  box-shadow: 0 0 35px 13px black;
  height: 105px;
  width: auto;
  top:95px;
  left: 38%;
  transform: translate(-50%,-50%);
}
#ss2-si2{
  box-shadow: 0 0 35px 13px black;
  height: 105px;
  width: auto;
  top: -30px;
  right: 30px;
  box-shadow: #000000 (15px 15px) ;
}
#ss2-si3{
  box-shadow: 0 0 35px 13px black;
  height: 105px;
  width: auto;
  top: 65px;
  left:-5%;
  transform: translate(-50%,-50%);
}
input{
  visibility: hidden;
}
input[type="radio"]:checked+ .bar{
  background-color: #000000;
}
.prev, .next{
  
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:rgb(214, 210, 7);
  font-weight: bold;
  font-size: 35px;
  transition: 0.8s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: absolute;
}
.prev{
  right: 100%;
  border-radius: 0 15px 15px 0;

}
.next{
  left: 100%;
  border-radius: 15px 0 0 15px ;
}

.next:hover{
  
  transform: translatex(5px);
}


.prev:hover {
  transform: translatex(-5px);
}

.prev2, .next2{
  visibility: hidden;
}


.prev2{
  left: 25%;
  border-radius: 15px 0 0 15px ;}


.next2{
  left: 72%;
  border-radius:  0 15px 15px 0  ;
}


.next2:hover{
  background-color: transparent;
  color:#fffffb;
  transform: translatex(10px);
}

.prev2:hover{
  background-color: transparent;
  color:#fffffb;
  transform: translatex(-10px);
}
}